<script type="text/ng-template" id="loading.html">
    <div widget-item>
        <div widget-sub-text>
            Loading..
        </div>
    </div>
</script>

<script type="text/ng-template" id="main.html">

    <div widget-section-header>Facilities</div>
  
    <div widget-item>
      <form class="form-inline" ng-submit="filterFacilities()">
        <div class="input-group" style="width: 100%;">
          <input type="text" class="form-control" ng-model="filter.value" placeholder="Search for a facility..." />
          <span class="input-group-btn" style="overflow:hidden;">
            <button class="btn btn-primary glyphicon glyphicon glyphicon-search btn" type="submit" style="margin-top: -1px;">
            </button>
            <button class="btn btn-primary glyphicon glyphicon glyphicon-remove btn" type="reset" style="margin-top: -1px;" ng-click="resetFilterFacilities()">
            </button>
          </span>
        </div>
      </form>
  </div>
  
 	<div widget-item><pagination total-items="matchingFacilities.length" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged(currentPage)" rotate="false" max-size="maxSize"></pagination></div>
  
    <div widget-item icon-right="icon-angle-right" ng-click="showFacility(facility)" button ng-repeat="facility in filteredFacilities">
        <div widget-text>{{facility.name}}</div>
      	<div widget-sub-text>{{facility.street}}<br><small>{{facility.description}}</small></div>
    </div>
      
    <div widget-item><pagination total-items="matchingFacilities.length" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged(currentPage)" rotate="false" max-size="maxSize"></pagination></div>

</script>

<script type="text/ng-template" id="facility.html">
    <div widget-section-header>{{facility.name}}</div>
    <div widget-item>{{facility.street}}</div>
    <div widget-item ng-repeat="inspection in facility.inspections | orderBy:'inspection_date':true">
      <div widget-text>{{inspection.inspection_date | date:'longDate'}}</div>
      <div widget-text><small>{{inspection.inspection_type}}</small></div>
        <div widget-sub-text>
          <ul class="no-bullet">
            <li ng-repeat="infraction in inspection.infractions">
              {{infraction.category_code ? infraction.category_code : infraction.description}}<br><b>{{infraction.type}}&mdash;{{infraction.letter_code}}</b></li>
            <li ng-show="inspection.infractions.length == 0">No infractions were identified during this inspection.</li>
          </ul>
        </div>
    </div>
</script>